<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
  PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
  
<generatorConfiguration>
	<classPathEntry location=".\libs\jdbc\ojdbc6.jar" />
	<context id="Comerzzia" targetRuntime="MyBatis3">
	<property name="javaFileEncoding" value="UTF-8" />
	
		<plugin type="org.mybatis.generator.plugins.CaseInsensitiveLikePlugin"/>
		<plugin type="org.mybatis.generator.plugins.RowBoundsPlugin"/>
		
		<commentGenerator>
			<property name="suppressAllComments" value="true"/>
		</commentGenerator>	
	    
	    <jdbcConnection driverClass="oracle.jdbc.driver.OracleDriver"
	        connectionURL="jdbc:oracle:thin:@vm-desarrocli.mpcorporacion.com:1521:CLIENTES"
	        userId="CMZ_BMSK_SUKASA"
	        password="fuego">
	    </jdbcConnection>
	    	    
	    <javaModelGenerator targetPackage="com.comerzzia.persistencia.ventas.puntos.consumo" targetProject="comerzzia-persistencia/src/main/java">
	      <property name="enableSubPackages" value="false" />
	      <property name="trimStrings" value="true" />
	      <property name="extendsClass" value="com.comerzzia.util.base.MantenimientoBean" />  
	    </javaModelGenerator>
	    
	    <sqlMapGenerator targetPackage="com.comerzzia.persistencia.ventas.puntos.consumo"  targetProject="comerzzia-persistencia/src/main/java">
	      <property name="enableSubPackages" value="false" />
	    </sqlMapGenerator>
	
	    <javaClientGenerator type="XMLMAPPER" targetPackage="com.comerzzia.persistencia.ventas.puntos.consumo"  targetProject="comerzzia-persistencia/src/main/java">
	      <property name="enableSubPackages" value="false" />
	    </javaClientGenerator>
	
	    <table tableName="D_TICKETS_PUNTOS_CONSUMO_TBL" domainObjectName="Consumo"  >
    		<columnOverride column="CODCLI" property="codCliente" ></columnOverride>
    		<columnOverride column="CODALM" property="codAlm" ></columnOverride>
    		<columnOverride column="PROCESADO" javaType="java.lang.Boolean" jdbcType="VARCHAR" 
	    		typeHandler="es.mpsistemas.util.mybatis.typehandlers.BooleanTypeHandler" ></columnOverride>
    	</table>
    	
	</context>
</generatorConfiguration>  