<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
  PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
  
<generatorConfiguration>
	<classPathEntry location=".\libs\jdbc\ojdbc6.jar" />
	<context id="Comerzzia" targetRuntime="MyBatis3">
	
		<plugin type="org.mybatis.generator.plugins.CaseInsensitiveLikePlugin"/>
		<plugin type="org.mybatis.generator.plugins.RowBoundsPlugin"/>
		<plugin type="org.mybatis.generator.plugins.ScrollInsensitivePlugin"/>
		<plugin type="org.mybatis.generator.plugins.ViewPlugin"/>
	
		<commentGenerator>
			<property name="suppressAllComments" value="true"/>
		</commentGenerator>	
	    
	    <jdbcConnection driverClass="oracle.jdbc.driver.OracleDriver"
	        connectionURL="jdbc:oracle:thin:@vm-orasoft.tier1.es:1521:CLIENTES"
	        userId="CMZ_SUKASA_T1"
	        password="fuego">
	    </jdbcConnection>
	    
	    
	    <javaModelGenerator targetPackage="com.comerzzia.persistencia.reservaciones.reservadatosfact" targetProject="comerzzia-persistencia/src/main/java">
	      <property name="enableSubPackages" value="false" />
	      <property name="trimStrings" value="true" />
	    </javaModelGenerator>
	    
	    <sqlMapGenerator targetPackage="com.comerzzia.persistencia.reservaciones.reservadatosfact"  targetProject="comerzzia-persistencia/src/main/java">
	      <property name="enableSubPackages" value="false" />
	    </sqlMapGenerator>
	
	    <javaClientGenerator type="XMLMAPPER" targetPackage="com.comerzzia.persistencia.reservaciones.reservadatosfact"  targetProject="comerzzia-persistencia/src/main/java">
	      <property name="enableSubPackages" value="false" />
	    </javaClientGenerator>
	
	    <table tableName="X_RESERVA_DATOS_FACT_TBL" domainObjectName="FacturacionTicket">
	    </table>
	</context>
</generatorConfiguration>