<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.comerzzia.jpos.persistencia.promociones.clientes.PromocionClienteMapper" >
  <resultMap id="BaseResultMap" type="com.comerzzia.jpos.persistencia.promociones.clientes.PromocionClienteBean" >
    <id column="ID_PROMOCION" property="idPromocion" jdbcType="DECIMAL" />
    <id column="CODCLI" property="codCliente" jdbcType="VARCHAR" />
    <id column="UID_TICKET" property="uidTicket" jdbcType="VARCHAR" />
    <result column="CODALM" property="codAlmacen" jdbcType="VARCHAR" />
    <result column="FECHA" property="fecha" jdbcType="TIMESTAMP" />
    <result column="VERSION" property="version" jdbcType="DECIMAL" />
    <result column="PROCESADO" property="procesado" jdbcType="VARCHAR" typeHandler="es.mpsistemas.util.mybatis.typehandlers.BooleanTypeHandler" />
    <result column="ANULADA" property="anulada" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.procesadoCriteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=es.mpsistemas.util.mybatis.typehandlers.BooleanTypeHandler}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=es.mpsistemas.util.mybatis.typehandlers.BooleanTypeHandler} and #{criterion.secondValue,typeHandler=es.mpsistemas.util.mybatis.typehandlers.BooleanTypeHandler}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem,typeHandler=es.mpsistemas.util.mybatis.typehandlers.BooleanTypeHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.procesadoCriteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=es.mpsistemas.util.mybatis.typehandlers.BooleanTypeHandler}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=es.mpsistemas.util.mybatis.typehandlers.BooleanTypeHandler} and #{criterion.secondValue,typeHandler=es.mpsistemas.util.mybatis.typehandlers.BooleanTypeHandler}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem,typeHandler=es.mpsistemas.util.mybatis.typehandlers.BooleanTypeHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID_PROMOCION, CODCLI, UID_TICKET, CODALM, FECHA, VERSION, PROCESADO, ANULADA
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.comerzzia.jpos.persistencia.promociones.clientes.PromocionClienteExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from X_PROMOCIONES_CLIENTES_TBL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.comerzzia.jpos.persistencia.promociones.clientes.PromocionClienteKey" >
    select 
    <include refid="Base_Column_List" />
    from X_PROMOCIONES_CLIENTES_TBL
    where ID_PROMOCION = #{idPromocion,jdbcType=DECIMAL}
      and CODCLI = #{codCliente,jdbcType=VARCHAR}
      and UID_TICKET = #{uidTicket,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.comerzzia.jpos.persistencia.promociones.clientes.PromocionClienteKey" >
    delete from X_PROMOCIONES_CLIENTES_TBL
    where ID_PROMOCION = #{idPromocion,jdbcType=DECIMAL}
      and CODCLI = #{codCliente,jdbcType=VARCHAR}
      and UID_TICKET = #{uidTicket,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.comerzzia.jpos.persistencia.promociones.clientes.PromocionClienteExample" >
    delete from X_PROMOCIONES_CLIENTES_TBL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.comerzzia.jpos.persistencia.promociones.clientes.PromocionClienteBean" >
    insert into X_PROMOCIONES_CLIENTES_TBL (ID_PROMOCION, CODCLI, UID_TICKET, 
      CODALM, FECHA, VERSION, 
      PROCESADO, 
      ANULADA,UID_TICKET_DIA_SOCIO)
    values (#{idPromocion,jdbcType=DECIMAL}, #{codCliente,jdbcType=VARCHAR}, #{uidTicket,jdbcType=VARCHAR}, 
      #{codAlmacen,jdbcType=VARCHAR}, #{fecha,jdbcType=TIMESTAMP}, #{version,jdbcType=DECIMAL}, 
      #{procesado,jdbcType=VARCHAR,typeHandler=es.mpsistemas.util.mybatis.typehandlers.BooleanTypeHandler}, 
      #{anulada,jdbcType=CHAR}, #{uidTicketDSocio,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.comerzzia.jpos.persistencia.promociones.clientes.PromocionClienteBean" >
    insert into X_PROMOCIONES_CLIENTES_TBL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="idPromocion != null" >
        ID_PROMOCION,
      </if>
      <if test="codCliente != null" >
        CODCLI,
      </if>
      <if test="uidTicket != null" >
        UID_TICKET,
      </if>
      <if test="codAlmacen != null" >
        CODALM,
      </if>
      <if test="fecha != null" >
        FECHA,
      </if>
      <if test="version != null" >
        VERSION,
      </if>
      <if test="procesado != null" >
        PROCESADO,
      </if>
      <if test="anulada != null" >
        ANULADA,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="idPromocion != null" >
        #{idPromocion,jdbcType=DECIMAL},
      </if>
      <if test="codCliente != null" >
        #{codCliente,jdbcType=VARCHAR},
      </if>
      <if test="uidTicket != null" >
        #{uidTicket,jdbcType=VARCHAR},
      </if>
      <if test="codAlmacen != null" >
        #{codAlmacen,jdbcType=VARCHAR},
      </if>
      <if test="fecha != null" >
        #{fecha,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        #{version,jdbcType=DECIMAL},
      </if>
      <if test="procesado != null" >
        #{procesado,jdbcType=VARCHAR,typeHandler=es.mpsistemas.util.mybatis.typehandlers.BooleanTypeHandler},
      </if>
      <if test="anulada != null" >
        #{anulada,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.comerzzia.jpos.persistencia.promociones.clientes.PromocionClienteExample" resultType="java.lang.Integer" >
    select count(*) from X_PROMOCIONES_CLIENTES_TBL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update X_PROMOCIONES_CLIENTES_TBL
    <set >
      <if test="record.idPromocion != null" >
        ID_PROMOCION = #{record.idPromocion,jdbcType=DECIMAL},
      </if>
      <if test="record.codCliente != null" >
        CODCLI = #{record.codCliente,jdbcType=VARCHAR},
      </if>
      <if test="record.uidTicket != null" >
        UID_TICKET = #{record.uidTicket,jdbcType=VARCHAR},
      </if>
      <if test="record.codAlmacen != null" >
        CODALM = #{record.codAlmacen,jdbcType=VARCHAR},
      </if>
      <if test="record.fecha != null" >
        FECHA = #{record.fecha,jdbcType=TIMESTAMP},
      </if>
      <if test="record.version != null" >
        VERSION = #{record.version,jdbcType=DECIMAL},
      </if>
      <if test="record.procesado != null" >
        PROCESADO = #{record.procesado,jdbcType=VARCHAR,typeHandler=es.mpsistemas.util.mybatis.typehandlers.BooleanTypeHandler},
      </if>
      <if test="record.anulada != null" >
        ANULADA = #{record.anulada,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update X_PROMOCIONES_CLIENTES_TBL
    set ID_PROMOCION = #{record.idPromocion,jdbcType=DECIMAL},
      CODCLI = #{record.codCliente,jdbcType=VARCHAR},
      UID_TICKET = #{record.uidTicket,jdbcType=VARCHAR},
      CODALM = #{record.codAlmacen,jdbcType=VARCHAR},
      FECHA = #{record.fecha,jdbcType=TIMESTAMP},
      VERSION = #{record.version,jdbcType=DECIMAL},
      PROCESADO = #{record.procesado,jdbcType=VARCHAR,typeHandler=es.mpsistemas.util.mybatis.typehandlers.BooleanTypeHandler},
      ANULADA = #{record.anulada,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.comerzzia.jpos.persistencia.promociones.clientes.PromocionClienteBean" >
    update X_PROMOCIONES_CLIENTES_TBL
    <set >
      <if test="codAlmacen != null" >
        CODALM = #{codAlmacen,jdbcType=VARCHAR},
      </if>
      <if test="fecha != null" >
        FECHA = #{fecha,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        VERSION = #{version,jdbcType=DECIMAL},
      </if>
      <if test="procesado != null" >
        PROCESADO = #{procesado,jdbcType=VARCHAR,typeHandler=es.mpsistemas.util.mybatis.typehandlers.BooleanTypeHandler},
      </if>
      <if test="anulada != null" >
        ANULADA = #{anulada,jdbcType=CHAR},
      </if>
    </set>
    where ID_PROMOCION = #{idPromocion,jdbcType=DECIMAL}
      and CODCLI = #{codCliente,jdbcType=VARCHAR}
      and UID_TICKET = #{uidTicket,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.comerzzia.jpos.persistencia.promociones.clientes.PromocionClienteBean" >
    update X_PROMOCIONES_CLIENTES_TBL
    set CODALM = #{codAlmacen,jdbcType=VARCHAR},
      FECHA = #{fecha,jdbcType=TIMESTAMP},
      VERSION = #{version,jdbcType=DECIMAL},
      PROCESADO = #{procesado,jdbcType=VARCHAR,typeHandler=es.mpsistemas.util.mybatis.typehandlers.BooleanTypeHandler},
      ANULADA = #{anulada,jdbcType=CHAR}
    where ID_PROMOCION = #{idPromocion,jdbcType=DECIMAL}
      and CODCLI = #{codCliente,jdbcType=VARCHAR}
      and UID_TICKET = #{uidTicket,jdbcType=VARCHAR}
  </update>
  <select resultMap="BaseResultMap" parameterType="com.comerzzia.jpos.persistencia.promociones.clientes.PromocionClienteExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from X_PROMOCIONES_CLIENTES_TBL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select resultType="java.lang.Long" id="selectMaximaVersion" >
    select MAX(version) from X_PROMOCIONES_CLIENTES_TBL
  </select>
  <select id="selectTicketDiaSocio" resultType="java.lang.Integer" parameterType="java.lang.String" >
    select COUNT(*)
    from X_PROMOCIONES_CLIENTES_TBL C INNER JOIN D_PROMOCIONES_CAB_TBL P ON (C.ID_PROMOCION = P.ID_PROMOCION)
    where P.ID_TIPO_PROMOCION = 23 AND C.ANULADA = 'N'AND C.UID_TICKET = #{uidTicket}
  </select>
</mapper>