<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
  PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
  
<generatorConfiguration>
	<classPathEntry location=".\libs\jdbc\ojdbc6.jar" />
	<context id="Comerzzia" targetRuntime="MyBatis3">
	
		<plugin type="org.mybatis.generator.plugins.CaseInsensitiveLikePlugin"/>
		<plugin type="org.mybatis.generator.plugins.RowBoundsPlugin"/>
		<plugin type="org.mybatis.generator.plugins.ScrollInsensitivePlugin"/>
		<plugin type="org.mybatis.generator.plugins.ViewPlugin"/>
	
		<commentGenerator>
			<property name="suppressAllComments" value="true"/>
		</commentGenerator>	
	    
	    <jdbcConnection driverClass="oracle.jdbc.driver.OracleDriver"
	        connectionURL="jdbc:oracle:thin:@vm-orasoft.tier1.es:1521:CLIENTES"
	        userId="CMZ_SUKASA_T1"
	        password="fuego">
	    </jdbcConnection>
	    
	    
	    <javaModelGenerator targetPackage="com.comerzzia.persistencia.reservaciones.reservatipos" targetProject="comerzzia-persistencia/src/main/java">
	      <property name="enableSubPackages" value="false" />
	      <property name="trimStrings" value="true" />
	    </javaModelGenerator>
	    
	    <sqlMapGenerator targetPackage="com.comerzzia.persistencia.reservaciones.reservatipos"  targetProject="comerzzia-persistencia/src/main/java">
	      <property name="enableSubPackages" value="false" />
	    </sqlMapGenerator>
	
	    <javaClientGenerator type="XMLMAPPER" targetPackage="com.comerzzia.persistencia.reservaciones.reservatipos"  targetProject="comerzzia-persistencia/src/main/java">
	      <property name="enableSubPackages" value="false" />
	    </javaClientGenerator>
	
	    <table tableName="X_RESERVA_TIPOS_TBL" domainObjectName="ReservaTipos">
	    	<columnOverride column="ABONO_INICIAL" javaType="java.lang.Boolean" jdbcType="VARCHAR" typeHandler="es.mpsistemas.util.mybatis.typehandlers.BooleanTypeHandler" />
	    	<columnOverride column="ARTICULO_RESERVADO" javaType="java.lang.Boolean" jdbcType="VARCHAR" typeHandler="es.mpsistemas.util.mybatis.typehandlers.BooleanTypeHandler" />
	    	<columnOverride column="LISTA_INVITADOS" javaType="java.lang.Boolean" jdbcType="VARCHAR" typeHandler="es.mpsistemas.util.mybatis.typehandlers.BooleanTypeHandler" />	    	
	    	<columnOverride column="PERMITE_COMPRA" javaType="java.lang.Boolean" jdbcType="VARCHAR" typeHandler="es.mpsistemas.util.mybatis.typehandlers.BooleanTypeHandler" />
	    	<columnOverride column="LIQUIDACION" javaType="java.lang.Boolean" jdbcType="VARCHAR" typeHandler="es.mpsistemas.util.mybatis.typehandlers.BooleanTypeHandler" />
	    	<columnOverride column="PERMITE_RESERVAR_PROMOCIONADOS" javaType="java.lang.Boolean" jdbcType="VARCHAR" typeHandler="es.mpsistemas.util.mybatis.typehandlers.BooleanTypeHandler" />
	    	<columnOverride column="ABONOS_MAYORES_A_TOTAL" javaType="java.lang.Boolean" jdbcType="VARCHAR" typeHandler="es.mpsistemas.util.mybatis.typehandlers.BooleanTypeHandler" />
	    	<columnOverride column="PERMITE_ELIMINAR_ARTICULOS" javaType="java.lang.Boolean" jdbcType="VARCHAR" typeHandler="es.mpsistemas.util.mybatis.typehandlers.BooleanTypeHandler" />
	    	<columnOverride column="PERMITE_LIQUIDACION_PARCIAL" javaType="java.lang.Boolean" jdbcType="VARCHAR" typeHandler="es.mpsistemas.util.mybatis.typehandlers.BooleanTypeHandler" />	
	    	<columnOverride column="PERMITE_ABONOS_PROPIETARIO" javaType="java.lang.Boolean" jdbcType="VARCHAR" typeHandler="es.mpsistemas.util.mybatis.typehandlers.BooleanTypeHandler" />
	    	<columnOverride column="PERMITE_ABONOS_INVITADOS" javaType="java.lang.Boolean" jdbcType="VARCHAR" typeHandler="es.mpsistemas.util.mybatis.typehandlers.BooleanTypeHandler" />
	    	<columnOverride column="PERMITE_ABONOS_PARCIALES" javaType="java.lang.Boolean" jdbcType="VARCHAR" typeHandler="es.mpsistemas.util.mybatis.typehandlers.BooleanTypeHandler" />
	    	<columnOverride column="PERMITE_ALTA_POS" javaType="java.lang.Boolean" jdbcType="VARCHAR" typeHandler="es.mpsistemas.util.mybatis.typehandlers.BooleanTypeHandler" />	
	    	<columnOverride column="PERMITE_DATOS_ADICIONALES" javaType="java.lang.Boolean" jdbcType="VARCHAR" typeHandler="es.mpsistemas.util.mybatis.typehandlers.BooleanTypeHandler" />	
	    	<columnOverride column="PERMITE_FACTURAR_INVITADO" javaType="java.lang.Boolean" jdbcType="VARCHAR" typeHandler="es.mpsistemas.util.mybatis.typehandlers.BooleanTypeHandler" />	
	    </table>
	</context>
</generatorConfiguration>