<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.comerzzia.jpos.persistencia.listapda.SesionPdaMapper" >
  <resultMap id="BaseResultMap" type="com.comerzzia.jpos.persistencia.listapda.SesionPdaBean" >
    <id column="UID_SESION_PDA" property="uidSesionPda" jdbcType="VARCHAR" />
    <result column="TIPO" property="tipo" jdbcType="VARCHAR" />
    <result column="FECHA_HORA" property="fechaHora" jdbcType="DATE" typeHandler="es.mpsistemas.util.mybatis.typehandlers.FechaHoraTypeHandler" />
    <result column="CODIGO" property="codigo" jdbcType="VARCHAR" />
    <result column="UTILIZADO" property="utilizado" jdbcType="VARCHAR" typeHandler="es.mpsistemas.util.mybatis.typehandlers.BooleanTypeHandler" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.fechaHoraCriteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=es.mpsistemas.util.mybatis.typehandlers.FechaHoraTypeHandler}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=es.mpsistemas.util.mybatis.typehandlers.FechaHoraTypeHandler} and #{criterion.secondValue,typeHandler=es.mpsistemas.util.mybatis.typehandlers.FechaHoraTypeHandler}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem,typeHandler=es.mpsistemas.util.mybatis.typehandlers.FechaHoraTypeHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.utilizadoCriteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=es.mpsistemas.util.mybatis.typehandlers.BooleanTypeHandler}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=es.mpsistemas.util.mybatis.typehandlers.BooleanTypeHandler} and #{criterion.secondValue,typeHandler=es.mpsistemas.util.mybatis.typehandlers.BooleanTypeHandler}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem,typeHandler=es.mpsistemas.util.mybatis.typehandlers.BooleanTypeHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.fechaHoraCriteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=es.mpsistemas.util.mybatis.typehandlers.FechaHoraTypeHandler}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=es.mpsistemas.util.mybatis.typehandlers.FechaHoraTypeHandler} and #{criterion.secondValue,typeHandler=es.mpsistemas.util.mybatis.typehandlers.FechaHoraTypeHandler}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem,typeHandler=es.mpsistemas.util.mybatis.typehandlers.FechaHoraTypeHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.utilizadoCriteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=es.mpsistemas.util.mybatis.typehandlers.BooleanTypeHandler}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=es.mpsistemas.util.mybatis.typehandlers.BooleanTypeHandler} and #{criterion.secondValue,typeHandler=es.mpsistemas.util.mybatis.typehandlers.BooleanTypeHandler}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem,typeHandler=es.mpsistemas.util.mybatis.typehandlers.BooleanTypeHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    UID_SESION_PDA, TIPO, FECHA_HORA, CODIGO, UTILIZADO
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.comerzzia.jpos.persistencia.listapda.SesionPdaExample" resultSetType="SCROLL_INSENSITIVE" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from X_SESION_PDA_TBL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from X_SESION_PDA_TBL
    where UID_SESION_PDA = #{uidSesionPda,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from X_SESION_PDA_TBL
    where UID_SESION_PDA = #{uidSesionPda,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.comerzzia.jpos.persistencia.listapda.SesionPdaExample" >
    delete from X_SESION_PDA_TBL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.comerzzia.jpos.persistencia.listapda.SesionPdaBean" >
    insert into X_SESION_PDA_TBL (UID_SESION_PDA, TIPO, FECHA_HORA, 
      CODIGO, UTILIZADO
      )
    values (#{uidSesionPda,jdbcType=VARCHAR}, #{tipo,jdbcType=VARCHAR}, #{fechaHora,jdbcType=DATE,typeHandler=es.mpsistemas.util.mybatis.typehandlers.FechaHoraTypeHandler}, 
      #{codigo,jdbcType=VARCHAR}, #{utilizado,jdbcType=VARCHAR,typeHandler=es.mpsistemas.util.mybatis.typehandlers.BooleanTypeHandler}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.comerzzia.jpos.persistencia.listapda.SesionPdaBean" >
    insert into X_SESION_PDA_TBL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uidSesionPda != null" >
        UID_SESION_PDA,
      </if>
      <if test="tipo != null" >
        TIPO,
      </if>
      <if test="fechaHora != null" >
        FECHA_HORA,
      </if>
      <if test="codigo != null" >
        CODIGO,
      </if>
      <if test="utilizado != null" >
        UTILIZADO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uidSesionPda != null" >
        #{uidSesionPda,jdbcType=VARCHAR},
      </if>
      <if test="tipo != null" >
        #{tipo,jdbcType=VARCHAR},
      </if>
      <if test="fechaHora != null" >
        #{fechaHora,jdbcType=DATE,typeHandler=es.mpsistemas.util.mybatis.typehandlers.FechaHoraTypeHandler},
      </if>
      <if test="codigo != null" >
        #{codigo,jdbcType=VARCHAR},
      </if>
      <if test="utilizado != null" >
        #{utilizado,jdbcType=VARCHAR,typeHandler=es.mpsistemas.util.mybatis.typehandlers.BooleanTypeHandler},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.comerzzia.jpos.persistencia.listapda.SesionPdaExample" resultType="java.lang.Integer" >
    select count(*) from X_SESION_PDA_TBL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update X_SESION_PDA_TBL
    <set >
      <if test="record.uidSesionPda != null" >
        UID_SESION_PDA = #{record.uidSesionPda,jdbcType=VARCHAR},
      </if>
      <if test="record.tipo != null" >
        TIPO = #{record.tipo,jdbcType=VARCHAR},
      </if>
      <if test="record.fechaHora != null" >
        FECHA_HORA = #{record.fechaHora,jdbcType=DATE,typeHandler=es.mpsistemas.util.mybatis.typehandlers.FechaHoraTypeHandler},
      </if>
      <if test="record.codigo != null" >
        CODIGO = #{record.codigo,jdbcType=VARCHAR},
      </if>
      <if test="record.utilizado != null" >
        UTILIZADO = #{record.utilizado,jdbcType=VARCHAR,typeHandler=es.mpsistemas.util.mybatis.typehandlers.BooleanTypeHandler},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update X_SESION_PDA_TBL
    set UID_SESION_PDA = #{record.uidSesionPda,jdbcType=VARCHAR},
      TIPO = #{record.tipo,jdbcType=VARCHAR},
      FECHA_HORA = #{record.fechaHora,jdbcType=DATE,typeHandler=es.mpsistemas.util.mybatis.typehandlers.FechaHoraTypeHandler},
      CODIGO = #{record.codigo,jdbcType=VARCHAR},
      UTILIZADO = #{record.utilizado,jdbcType=VARCHAR,typeHandler=es.mpsistemas.util.mybatis.typehandlers.BooleanTypeHandler}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.comerzzia.jpos.persistencia.listapda.SesionPdaBean" >
    update X_SESION_PDA_TBL
    <set >
      <if test="tipo != null" >
        TIPO = #{tipo,jdbcType=VARCHAR},
      </if>
      <if test="fechaHora != null" >
        FECHA_HORA = #{fechaHora,jdbcType=DATE,typeHandler=es.mpsistemas.util.mybatis.typehandlers.FechaHoraTypeHandler},
      </if>
      <if test="codigo != null" >
        CODIGO = #{codigo,jdbcType=VARCHAR},
      </if>
      <if test="utilizado != null" >
        UTILIZADO = #{utilizado,jdbcType=VARCHAR,typeHandler=es.mpsistemas.util.mybatis.typehandlers.BooleanTypeHandler},
      </if>
    </set>
    where UID_SESION_PDA = #{uidSesionPda,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.comerzzia.jpos.persistencia.listapda.SesionPdaBean" >
    update X_SESION_PDA_TBL
    set TIPO = #{tipo,jdbcType=VARCHAR},
      FECHA_HORA = #{fechaHora,jdbcType=DATE,typeHandler=es.mpsistemas.util.mybatis.typehandlers.FechaHoraTypeHandler},
      CODIGO = #{codigo,jdbcType=VARCHAR},
      UTILIZADO = #{utilizado,jdbcType=VARCHAR,typeHandler=es.mpsistemas.util.mybatis.typehandlers.BooleanTypeHandler}
    where UID_SESION_PDA = #{uidSesionPda,jdbcType=VARCHAR}
  </update>
  <select resultMap="BaseResultMap" parameterType="com.comerzzia.jpos.persistencia.listapda.SesionPdaExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from X_SESION_PDA_TBL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>